{% for ad in include.ads reversed %}
	{% assign ad_date = ad.date | date: '%s' %}
	{% if ad_date > stale_ad_date %}
	<div class="row no-gutters ad">
		<div class="col-md-4">
			{% assign breeder = site.breeders | where:"farm_name", ad.farm_name %}
			{% include membership_entry.html member=breeder.first %}
		</div>
		<div class="col-md-8 ad-copy">
			<p>{{ ad.content }} </p>
			{% if ad.nsip %}
				<h4>NSIP IDs:</h4>
				<ul>
				{% for ids in ad.nsip %}
					<li><a href="http://nsipsearch.nsip.org/#!/details/{{ ids }}" target="_blank">{{ ids }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
			<p class="text-right" style="padding-top:10px;"><i>Posted {{ ad.date | date:"%B %e, %Y"}}</i></p>
		</div>
	</div>
	{% endif %}
{% endfor %}
