<div class="footer">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 address">
				<p>American Polypay Sheep Association, &copy {{ site.time | date: '%Y' }}</p>
				<p>Brett Pharo, President</p>
				<p>12266 Cherry Ave.</p>
				<p>Rapid City, MI 49676</p>
				<p>brettpharo@gmail.com</p>
				<p>231-322-2017</p>
			</div>

			<div class="col-md-2 foot-links">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/polypays/">Polypays</a>
					</li>
					<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Breeders</a>
	    			<div class="dropdown-menu">
							<a class="dropdown-item" target="_blank" href="{{site.baseurl}}/breeders/">Breeders directory</a>
				      <a class="dropdown-item" target="_blank" href="/assets/pdfs/polypay_work_order_form.pdf">Work order form</a>
				      <a class="dropdown-item" target="_blank" href="/assets/pdfs/polypay_registration_form.pdf">Registration form</a>
				      <a class="dropdown-item" target="_blank" href="/assets/pdfs/polypay_ram_use_certificate.pdf">Ram use certificate</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/photo_gallery">Photos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/ads">Ads</a>
					</li>
				</ul>
			</div>

			<div class="col-md-2 foot-links">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/join_us">Join Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/news">News</a>
					</li>

					<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NSIP</a>
	    			<div class="dropdown-menu">
				      <a class="dropdown-item" target="_blank" href="http://nsip.org/polypay-breeders/">Breed page</a>
				      <a class="dropdown-item" target="_blank" href="http://nsipsearch.nsip.org/#!/search">Database</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/links">Links</a>
					</li>
				</ul>
			</div>


			<div class="col-md-2 webmaster align-self-end" style="margin:0;padding:0">
				<p class="pull-right">webmaster:
					<a href="mailto:{{ site.email }}">
						<i class="fas fa-envelope fa-lg" style="color:white"></i>
					</a>
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fab fa-github fa-lg" style="color:white"></i>
					</a>
				</p>
			</div>
    </div>
 	</div>
</div>
