<div class="footer">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 address">
				<p>The American Polypay Sheep Association</p>
				<p>Brett Pharo, President</p>
				<p>12266 Cherry Ave.</p>
				<p>Rapid City, MI 49676</p>
				<p>brettpharo@gmail.com</p>
				<p>231-322-2017</p>
			</div>
			<div class="col-md-6">
				<div class="copy pull-right">
					<p>APSA &copy {{ site.time | date: '%Y' }}</p>
					<p>
						<a href="mailto:{{ site.email }}">
							<i class="fa fa-envelope-o fa-lg" style="color:white"></i>
						</a>
						<a href="https://github.com/{{ site.github_username }}">
							<i class="fa fa-github fa-lg" style="color:white"></i>
						</a>
					</p>
				</div>
			</div>
	    </div>
 	</div>
</div>
