<div class="header">
	<div class="jumbotron jumbotron-fluid"></div>

	<!-- <div class="container-fluid"> -->
			<nav class="nav nav-pills nav-justified">
				<li class="nav-item">
					<a class="nav-link align-middle" href="{{site.baseurl}}/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/polypays/">Polypays</a>
				</li>
				<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Breeders</a>
    			<div class="dropdown-menu">
						<a class="dropdown-item" href="{{site.baseurl}}/breeders/">Breeders directory</a>
			      <a class="dropdown-item" target="_blank" href="/assets/pdfs/polypay_work_order_form.pdf">Work order form</a>
			      <a class="dropdown-item" target="_blank" href="/assets/pdfs/polypay_registration_form.pdf">Registration form</a>
			      <a class="dropdown-item" target="_blank" href="/assets/pdfs/polypay_ram_use_certificate.pdf">Ram use certificate</a>
						<a class="dropdown-item" target="_blank" href="/assets/pdfs/APSA_bylaws_2017.pdf" target="_blank">APSA bylaws</a>
						<a class="dropdown-item" target="_blank" href="/assets/pdfs/FEC_background.pdf" target="_blank">FEC grant background</a>
						<a class="dropdown-item" target="_blank" href="/assets/pdfs/FEC_instructions.pdf" target="_blank">FEC grant instructions</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/photo_gallery">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/classifieds">Classifieds</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/join_us">Join Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/news">News</a>
				</li>

				<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NSIP</a>
    			<div class="dropdown-menu">
			      <a class="dropdown-item" target="_blank" href="http://nsip.org/polypay-breeders/">Breed page</a>
			      <a class="dropdown-item" target="_blank" href="http://nsipsearch.nsip.org/#!/search">Database</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/links">Links</a>
				</li>
			</nav>
		<!-- </div> -->
</div>
