<div class="header">
	<div class="jumbotron jumbotron-fluid"></div>

	<!-- <div class="container-fluid"> -->
			<nav class="nav nav-pills nav-justified">
				<li class="nav-item">
					<a class="nav-link align-middle" href="{{site.baseurl}}/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/breed_information/">The Breed</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/breeders/">Breeders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/photo_gallery">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/ads">Ads</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/join">Join Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/news">News</a>
				</li>

				<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NSIP</a>
    			<div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Breed page</a>
			      <a class="dropdown-item" href="#">Database</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/links">Links</a>
				</li>
			</nav>
		<!-- </div> -->
</div>
